h3 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

#buttons {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 5px;
    border-width: 0px;
    width: 100px;
    height: 40px;
    margin: 5px;
}

#green {
    background-color: green;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}